@page "/"
@using AgriEnergyConnect.Webapp.Components.Layout
@using Microsoft.AspNetCore.Authorization
@layout DahboardLayout
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>


<h3 class="font-bold text-primary">Dashboard</h3>


@code {
   }
